.most-viewed {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: calc(1.5vw + 25px);
   margin-top: 1.5vw;
   margin-bottom: 3vw;
   .post {
      &__image-wrap {
         &::before {
            content: "";
            display: block;
            padding-top: 65%;
         }
         img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100% !important;
            height: 100% !important;
            object-fit: cover !important;
            border-radius: 20px !important;
         }
         .category-badges {
            top: 20px !important;
            right: 15px !important;
         }
      }
      &__caption {
         padding: 20px 0 !important;
      }
      &__title {
      }
   }
}
@media screen and (max-width: 767px) {
   .most-viewed {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (max-width: 450px) {
   .most-viewed {
      grid-template-columns: 1fr;
   }
}
